@model FavoriteProductFormViewModel

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<input type="hidden" asp-for="Sn" />

<div class="mb-3">
    <label asp-for="ProductName" class="form-label"></label>
    <input asp-for="ProductName" class="form-control" />
    <span asp-validation-for="ProductName" class="text-danger"></span>
</div>

<div class="row">
    <div class="col-sm-6 mb-3">
        <label asp-for="Price" class="form-label"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="col-sm-6 mb-3">
        <label asp-for="FeeRate" class="form-label"></label>
        <input asp-for="FeeRate" class="form-control" />
        <div class="form-text">例如 0.1 代表 10%，0.01 代表 1%。</div>
        <span asp-validation-for="FeeRate" class="text-danger"></span>
    </div>
</div>

<div class="mb-3 col-sm-6">
    <label asp-for="Qty" class="form-label"></label>
    <input asp-for="Qty" class="form-control" />
    <span asp-validation-for="Qty" class="text-danger"></span>
</div>

<button type="submit" class="btn btn-primary">儲存</button>
<a asp-action="Index" class="btn btn-outline-secondary">取消</a>
